@evinced:registry=https://evinced.jfrog.io/artifactory/api/npm/restricted-npm/
//evinced.jfrog.io/artifactory/api/npm/restricted-npm/:_authToken=eyJ2ZXJzaW9uIjoiMiIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2IiwiS2lkIjoiZXRvOVBSN2xhN3RCaVBSUUhlVGhmLW9hcXN5OW5UZDUxRGc3LWNFbXZ0ZyJ9.eyJzdWIiOiJqZmFjQDAxZjdrbnpocXJieW0yMHN6MHhlajYxdHJtL3VzZXJzL21hdGFuLmFsYmFnQGV2aW5jZWQuY29tIiwic2NwljoYXBwbGllZC1wZXJtaXNzaW9ucy91c2VyliwiYXVkljpblmpmcnRAKilsImpmYWNAKilsImpmZXZ0QCoiLCJqZm1kQCoiLCJqZmNvbkAqliwiamZpbnRAKilsImpmd2tzQCoiXSwiaXNzljoiamZmZUAwMWY3a256aHFyYnItMjBzejB4ZWo2MXRybSIsImV4cCl6MTc5NTU5MDk4MCwiaWF0ljoxNzg3NjcwOTgwLCJqdGkiOil5ODEzY2MzZS1kNGIOLTQxMjMtYTQ4OC05NDk0ZWNkMjliNDgiLCJ0aWQiOiJhMGt5aGUxbXM4d2Q1ln0.Ulv8lc8S2FIFzmsloWl5rxgK1xBGDge6whyqjjekiW-ZOsH6_iFP22TIEDKzjzB-hYJaink96YA28KPAL5KuYkJRUX2dOhNNTa_Bvqda6DvHULAMRDzE1UZobGRj6C8CAn98bRkqZ5dlKzSn5fsYOFZfGmQfqWByt_vmVW65xo-fxNgOrqCG3RsECez5ZhGHvBEPh3bwdDryZ9GBZ0voZmezsnrwif02cFSrHMQCqxNhtX0CFu7Y1Ncu7r70gNTHqslpdt5T_nqtKVbHXdqrQV9fJcKOczr04ZXKpgYAobJAGgqFzsQ5P8Kwnh9zoLCvHxFYmGC8VdYvQiLkoliRuQ
